extends layout

block content
  h1= title
  p Welcome to the Slack File Manager. If you have any questions, please ask Kevin Moritz.


  a(
    href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=#{CLIENT_ID}&redirect_uri=#{REDIRECT_URI}"
    type='checkbox'
    name='agreement'
    checked
  )
    img(
      alt="Sign in with Slack"
      height="40"
      width="172"
      src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
      srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x"
    )
